.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Adjust the number of columns */
    gap: 10px; /* Adjust the gap between cells */
  }

  .pipe_sprite {
    position: fixed;
    height: 70vh;
    width: 6vw;
    background: radial-gradient(rgb(91, 91, 91) 50%, rgb(160, 161, 160));
    border: 5px solid black;
  }
  .blue {
      background: #0000ff;
  }